

.body-initial {background-color: rgba(255,255,255,1);}.silex-id-1592452998929-1 {width: 341px; min-height: 159.375px; top: 7px; left: 1px;}.silex-id-1592453086989-3 {width: 313px; min-height: 274px; background-color: rgb(255, 255, 255); top: 101px; left: 586px;}
.text-element > .silex-element-content {font-family: 'Roboto', sans-serif;}
.website-width {width: 1200px;}body.silex-runtime {opacity: 1;}
